<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments :: head">
    <link rel="stylesheet" href="style.css" />
    <title>Booze Blender</title>
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2> </h2>
    <ul>
        <div class="box">
            <label for="user-inp"></label>
            <input
                    type="text"
                    placeholder="Type in cocktail name:"
                    id="user-inp"
                    value= "";
            /input>
            <button id="search-btn">Search</button>
        </div>
        <div id="result"></div>
    </ul>

    <p th:if="${user != null}" th:text="'Welcome, ' + ${user.username}"></p>

</div>

<div th:replace="fragments :: footer"></div>
</body>

</html>