<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">

    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/login}">
    <div class="form-group">
        <label>Username
            <input type="text" th:field="${username}" class="form-control" />
        </label>

    </div>

    <div class="form-group">
        <label>Password
            <input type="password" th:field="${password}" class="form-control" />
        </label>

    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-success" />
    </div>
</form>

<p>
    <a th:ref="@{/register}">New user. Register here.</a>
    <input type="submit" value="Register" class="btn btn-success" />
</p>


<p>
    <a th:ref="@{}">Forgot password?</a>
    <input type="submit" value="Click here" class="btn btn-success" />
</p>

</body>
</html>



