<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
</head>
<body>

<div class="container">

    <h1>Sign up</h1>

    <form method="post" th:action="@{/register}">

    <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" placeholder="Enter a Username" th:field="${username}">
        </div>

        <div class="form-group">
            <label>Birthday:</label>
            <input type="date" class="form-control" th:field="${birthday}">
        </div>

        <div class="form-group">
            <label>Email address:</label>
            <input type="email" class="form-control" placeholder="Enter your email" th:field="${email}">
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" th:field="${password}">
        </div>

        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" class="form-control" th:field="${confirmPassword}">
        </div>



        <input type="submit">Sign up

</form>

    <p>
        <a th:ref="@{/login}">Already have an account? Login here.</a>
    </p>

</div>

</body>
</html>