body {
  background-image:  url("../images/cocktail.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.fixed-footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.body-content {
    margin-top: 72px;
}

.color-change {
   font-size: 100px;
   color: #73C2FB;
   padding-top: 100px;

 }

 h2 {
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
   color: white;
   font-size: 40px;
   text-align: center;
 }

