<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">



</head>
<body>
<div th:replace="fragments :: page-header"></div>
<form method="post" th:action="@{/search/alcoholicFilterResults}">
    <h1>Filter by Alcoholic or Non-Alcoholic Drinks</h1>

    <input type="checkbox" th:field="${search.searchParameter}" id="option1" name="option1" value="Alcoholic">
    <label for="option1"> Alcoholic Drinks</label><br>
    <input type="checkbox" th:field="${search.searchParameter}" id="option2" name="option2" value="Non_Alcoholic">
    <label for="option2"> Non-Alcoholic Drinks</label><br>



    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-success" />
    </div>
</form>


<div th:replace="fragments :: footer"></div>
</body>
</html>