<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">

<!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />-->
<!--    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>-->
<!--    <link href="../static/css/search.css" th:href="@{/css/search.css}" rel="stylesheet" />-->


</head>
<body>
<div th:replace="fragments :: page-header"></div>
<form method="post" th:action="@{/byGlass}">
    <h1>Search By Glass Type</h1>
    <div class="form-group">
        <label>Enter Glass Type
            <input type="text" th:field="${search}" class="form-control" />
        </label>
        <p class="error" th:errors="${search}"></p>
    </div>



    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-success" />
    </div>
</form>

<div th:replace="fragments :: footer"></div>

</body>
</html>