<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">

    DEMMMOOOO

</head>
<body>
<div th:replace="fragments :: page-header"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<div class="container">
    <div class="intro">
        <h2 class="text-center">Results</h2>
    </div>
    <div class="row photos">
        <div th:each="cocktail: ${drinksArray}" th:id="${cocktail.idDrink}">

            <div class="col-sm-6 col-md-4 col-lg-3 item">

                <img class="img-fluid" th:src="${cocktail.strDrinkThumb}">


                <a th:href="@{/search/recipe(cocktailId=${cocktail.idDrink})}">
                    <h3 th:text="${cocktail.strDrink}"></h3>
                </a>


            </div>

        </div>
    </div>
</div>


</body>


<div th:replace="fragments :: footer"></div>

</html>