<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
   <h2>Delete Account</h2>
   <p>Are you sure you want to delete your account?</p>
   <form method="post" th:action="@{/user/delete}">
      <button type="submit" class="btn btn-danger">Yes, Delete My Account</button>
   </form>
   <a href="/user/profile" class="btn btn-secondary">Cancel</a>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>