<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>

<form method="post" th:action="@{/user/edit}" th:object="${user}" style="max-width:600px;">
  <h1 class="text-center">Edit Profile</h1>

  <!-- Include the user id in the form for identifying the user -->
  <!--  <input type="hidden" th:field="*{id}" />-->

  <div class="form-group">
    <label>Username:</label>
    <input type="text" class="form-control" th:field="${user.username}" readonly="readonly">
  </div>
  <div class="form-group">
    <label>Birthday:</label>
    <input type="date" class="form-control" th:field="${user.birthday}">
  </div>
  <div class="form-group">
    <label>Email address:</label>
    <input type="email" class="form-control" th:field="${user.email}">
  </div>

  <!-- Add other user-related fields as needed -->

  <div class="form-group">
    <input type="submit" value="Save Changes" class="btn btn-success">
  </div>
</form>

<div th:replace="fragments :: footer"></div>
</body>
</html>