<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />


</head>
<body>

<form method="post" th:action="@{/login}">
    <h1>Login form</h1>
    <div class="form-group">
        <label>Username
            <input type="text" th:field="${user.username}" class="form-control" />
        </label>
        <p class="error" th:errors="${user.username}"></p>
    </div>

    <div class="form-group">
        <label>Password
            <input type="password" th:field="${user.password}" class="form-control" />
        </label>
        <p class="error" th:errors="${user.password}"></p>
    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-success" />
    </div>
</form>

<p>
    <a th:href="@{user/register}">New user. Register here.</a>

</p>


<p>
    <a th:href>Forgot password?</a>

</p>

</body>
</html>