<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body>
<div th:replace="fragments :: page-header"></div>
<form method="post" th:action="@{/user/profile}">
  <h1>Profile</h1>
  <div class="panel">
    <a href="@{/}">
      <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mb-3" style="width: 100px;" alt="Avatar">
    </a>
    <h3 class="group-form">Name: <span th:text="${username}"></span></h3>
    <p class="group-form">Email Id: <span th:text="${email}"></span></p>
    <p class="group-form">Birthday: <span th:text="${birthday}"></span></p>
    <!-- Add other user-related information as needed -->
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="@{/}"><i class="fa fa-heart"></i>Favorites</a></li>
    <li><a href="@{/}"><i class="fa fa-Lizel Arina Glyph"></i>Recently searched</a></li>
    <li><a th:href="@{/user/edit}"><i class="fa fa-edit"></i>Edit profile</a></li>
  </ul>
  </div>
</form>
<div th:replace="fragments :: footer"></div>
</body>
</html>