<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<form method="post" th:action="@{/user/register}" >

    <h1 class="text-center">Sign up</h1>

    <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control" placeholder="Enter a Username" th:field="${registerFormDTO.username}">
        <span th:errors="${registerFormDTO.username}" class="error"></span>
    </div>

    <div class="form-group">
        <label>Birthday:</label>
        <input type="date" class="form-control" th:field="${registerFormDTO.birthday}">
        <span th:errors="${registerFormDTO.birthday}" class="error"></span>
    </div>

    <div class="form-group">
        <label>Email address:</label>
        <input type="email" class="form-control" placeholder="Enter your email" th:field="${registerFormDTO.email}">
        <span th:errors="${registerFormDTO.email}" class="error"></span>
    </div>

    <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" th:field="${registerFormDTO.password}" placeholder="Password">
        <span th:errors="${registerFormDTO.password}" class="error"></span>
    </div>

    <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" class="form-control" th:field="${registerFormDTO.verifyPassword}" placeholder="Confirm Password">
        <span th:errors="${registerFormDTO.verifyPassword}" class="error"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>


<p>
    <a th:href="@{/user/login}" class="link-primary">Already have an account? Login here.</a>
</p>
</form>
<div th:replace="fragments :: footer"></div>
</body>
</html>